body {
  margin: 0 50px;
  font-size: 1.2em;
}

.blackboard-image {
  height: 300px;
}

.gold {
  color: goldenrod;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

section {
  border-top: 1px solid black;
}

table {
  border: 1px solid black;
  margin-bottom: 20px;
}

td {
  width: 75px;
  text-align: center;
}

.black-cell {
  border: 1px solid black;
}

.red-cell {
  border: 1px solid red;
}