section {
  border-top: 1px solid black;
  padding-bottom: 50px;
}

/* Section 1 */

.box {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 50px;
}

.target {
  height: 100px;
  width: 100px;
  border: 5px dashed black;
  background: red;
  box-sizing: border-box;
}

/* Section 2 */

table {
  height: 150px;
  width: 300px;
}

td {
  border: 1px solid black;
}

tr:nth-child(2) td:nth-child(odd) {
  background: darkseagreen;
}

/* Section 3 */

.container {
  width: 300px;
  box-sizing: border-box;
}

.container > div {
  height: 70px;
  border: 1px solid black;
  margin: 5px;
}

.container > div > div {
  background: indigo;
  color: white;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.container div:first-child div:first-child {
  width: 78px;
  margin: 5px;
}

.container div:first-child div:nth-child(2) {
  width: 200px;
  margin-left: 5px;
}

.container div:nth-child(2) div:first-child {
  width: 200px;
  margin: 5px 5px 0 auto;
}

.container div:nth-child(2) div:nth-child(2) {
  width: 78px;
  margin-left: 5px;
}

.container > div:nth-child(2) {
  text-align: right;
  height: 65px;
}

/* Section 4 */

#red-black-rows {
  width: 300px;
  color: white;
}

#red-black-rows .redbg {
  background-color: red;
}

#red-black-rows .blackbg {
  background-color: black;
}

#red-black-rows .block {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 25%;
  font-size: 16px;
}

#red-black-rows .row {
  font-size: 0; /* need to do this so 25% will work above */
}